
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Raleway', sans-serif;
}

.introContainer{
   display:flex;
   align-items: center;
   flex-direction: row;
}

.intro{
   line-height: 0.8;
   margin: 0 10px;
}
.lines{
   font-size: large;
   font-weight: bolder;
   max-width: 600px;
   line-height: 1.8;
}

.imageContainer{
   border:5px solid #067BFE;
   overflow: hidden;
   border-radius: 80px;
   width: 150px;
   height: 150px;
   background-color: #067BFE;
}
.subtitle{
   color: #cbd5e0;
}

.githubbtn{
   border: 1px solid #4a5568;
   background-color: #333;
   color: white;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   border-radius: 5px;
   font-weight: bolder;
   padding: 10px 20px;
   margin: 5px;
   font-family: 'Raleway', sans-serif;
}
.linkedinbtn{
   border: 1px solid #4a5568;
      background-color: #0e76a8;
      color: white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-weight: bolder;
      padding: 10px 20px;
      margin: 5px;
      justify-content: space-between;
      font-family: 'Raleway', sans-serif;
}
.btnText{
   padding: 0px 5px;
}
@media only screen and (max-width:600px){
   .container{
      margin: 0px 20px;
   }
   
}